html, 
body,
.dx-viewport {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

/*fixed-top*/

.fixed-top{
    background-color: #00667D;
    height: 70px;
}

/*logo*/

#container {
    height: 75px;
    width: 60%;
    margin-top: -2px;
    margin-left: 30px;
    margin-right: 50px;
}

/*h2*/

h2 {
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
    font-weight: bold;
    font-style: italic;
}

/*form*/
.form-group {
    margin-top: 5px;
    text-align: left;
    margin-left: 60px;
    margin-right: 60px;
    font-style: italic;
}

.form-check {
    text-align: left;
    margin-left: 55px;
    margin-right: 60px;
    font-style: italic;
}

/*input*/

.box {
    border-radius: 3px;
    text-align: left;
    padding-top: 20px;
    border-width: 3px;
    margin-left: -20px;
    padding-right: 30px;
    

}

label {
    font-weight: bold;
    font-style: italic;
    text-align: left;
    font-size: 18px;
    margin-left: -20px;
}

.form-check-label {
    margin-left: -2px;
}

.form-check-input {
    margin-left: -16px;
}


.pass{
    margin-left: -20px;
    text-align: left;
    font-size: 14px;
  }

/*#passwordHelpBlock{
    line-height: 100%;
}*/


/*submit*/
.login {
    background-color: #00667D;
    font-weight: bold;
    border-radius: 6px;
    border-style: solid;
    border-style: none;
    padding: 15px 30px;
    border-width: 2px;
    margin-left: 120px;
    color: white;
    font-size: 22px;
    box-shadow: 8px 4px 4px #A1ABB2;
    font-style: italic;
}

/*sticky-footer*/


#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 28px;
    width: 100%;
    background-color: #00667D;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 14px;
    font-style: italic;
}

/*back-next*/

/*.btn {
    background-color: #F99D2A;
    border-radius: 8px;
    padding: 8px 20px;
}*/

/*#btt2 {
    float: left;
}

#btt1 {
    float: right;
}*/